body{
    margin: 0 auto;
    width: 80%;
    padding: 3%;
    font-family: 'Staatliches', 'Kufam', cursive;
}

.background{
    background: #4F4F4F;
    border-radius: 2%;
    box-shadow: 0px 7.04712px 7.04712px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 5%;
}

.quadrado{
    position: absolute;
    width: 350px;
    height: 230px;
    text-decoration: none;
    color: white;
    background: #343537;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.quadrado img{
    margin-bottom: 3%;
}

.flex{
    display: flex;
}

.block{
    display: block;
}

.vertical{
    flex-direction: column;
}

.box {
    flex-basis: 30%;
    /*-ms-flex: auto;*/
    position: relative; 
    padding: 10px;
    box-sizing: border-box;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 15px;
    min-width: 300px;
  }

.center{
    justify-content: center;
    vertical-align: center;
    align-items: center;
}

.container{
    max-width: 1335px;
    margin: 0 auto;
  }

.row{
    flex-flow: row wrap;
    justify-content: space-around;
}

.svg{
    width: 170px;
    height: 170px;
}
.btn:hover{
  filter: contrast(110%) brightness(0.9);
}